.hero {    
    height: 130vh;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: $headerHeight;
}

.hero__diag {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-image: $blueGradient;
    overflow: hidden;
    z-index: 10;

    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(510deg, transparent 55%, $bgColor 55%);
    }
}

.hero__img {
    z-index: 20;
    position: absolute;
    right: 0;
    bottom: 30vh;
}

.hero__opener {
    z-index: 15;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

%hero__openerContainer {
    @media only screen and (min-width : $screen-xs) {
        width: 100%;
    }

    @media only screen and (min-width : $screen-lg) {
        width: 400px;
    }

    @media only screen and (min-width : $screen-xl) {
        width: 600px;
    }
}

.hero__title {
    font-family: $fontFamily1;
    font-size: $fontSize--h1;
    text-shadow: $textShadow;

    color: $bgColor;
    @extend %hero__openerContainer;    
}

.hero__discr {    
    font-family: $fontFamily1;
    font-size: $fontSize;
    @extend %hero__openerContainer;
}

.hero__resume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3%;

    @extend %hero__openerContainer;
}

.btn {
    display: inline-block;
    padding: .7em 3.5em;
    font-family: $fontFamily1;
    font-size: $fontSize;
    font-weight: bold;
    background-color: $bgColor;
    color: $blue;
    border-radius: .2em;
    box-shadow: $textShadow;
    transition: all .5s;
}


@media only screen and (min-width : $screen-xs) {
    
}

@media only screen and (min-width : $screen-sm) {

}

@media only screen and (min-width : $screen-md) {
            
}

@media only screen and (min-width : $screen-lg) {
    
}

@media only screen and (min-width : $screen-xl) {
    
}