.hero {    
    height: 130vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100px;
    z-index: 100;   
}

.header__nav {
    background-color: green;
        width: 100%;
    text-align: right;
}

.header__navList {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;     
}

.header__navItem {
    list-style: none;
    margin: 2rem 2.5rem;

    a {
        font-size: $fontSize;;
        text-decoration: none;
        color: #fff;
    }
}

// .hero__diag {
//     display: block;
//     position: absolute;
//     ///top: -400px;
//     bottom: 30px;
//     left: 0;
//     width: 100%;
//     height: 150%;
//     background-image: linear-gradient(467deg, #EA785A 0%, #EE8768 30%, #EE9F7A 70%);
//     // transform: skewY(-29deg);
//     z-index: 10;
// }

.hero__diag {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $blueGradient;
    overflow: hidden;
    z-index: 10;

    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(510deg, transparent 55%, $bgColor 55%);
    }
}

.hero__img {
    z-index: 20;
    position: absolute;
    right: 0;
    bottom: 30vh;
}

.hero__opener {
    z-index: 15;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

%hero__openerContainer {
    @media only screen and (min-width : $screen-xs) {
        width: 100%;
    }

    @media only screen and (min-width : $screen-lg) {
        width: 400px;
    }

    @media only screen and (min-width : $screen-xl) {
        width: 600px;
    }
}

.hero__title {
    font-family: $fontFamily1;
    font-size: $fontSize--h1;
    text-shadow: $textShadow;

    color: $bgColor;
    @extend %hero__openerContainer;    
}

.hero__discr {    
    font-family: $fontFamily1;
    font-size: $fontSize;
    @extend %hero__openerContainer;
}

.hero__resume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3%;

    @extend %hero__openerContainer;
}

.btn {
    display: inline-block;
    padding: .7em 3.5em;
    font-family: $fontFamily1;
    font-size: $fontSize;
    font-weight: bold;
    background-color: $bgColor;
    color: $blue;
    border-radius: .2em;
    box-shadow: $textShadow;
}
