@mixin includeFont($fontFamily, $fontWeight: normal, $fontStyle: normal, $fontName: $fontFamily){
    @font-face {
	font-family: $fontFamily;
	font-style: $fontStyle;
	font-weight: $fontWeight;
	// src: url("fonts/" + $fontFamily + "/" + $fontName + "/" + $fontName + ".woff2") format("woff2"),
    //      url("fonts/" + $fontFamily + "/" + $fontName + "/" + $fontName + ".woff") format("woff"),
    //      url("fonts/" + $fontFamily + "/" + $fontName + "/" + $fontName + ".ttf") format("truetype");
    // }
    	src: url("../fonts/" + $fontFamily + "/" + $fontName + "/" + $fontName + ".ttf");
    }
}

@mixin skillBar($skillValue, $childNumber) {
    &:nth-child(#{$childNumber}) {
        &::before {
            width: #{$skillValue+%};
        }
        &::after {
            content: '#{$skillValue} %';
            right: calc(#{$skillValue+%} - 5.8rem); 
        }
    }
}


@mixin roundBar($roundWidth, 
				$procent, 
				$baseColor, 
				$spaceColor, 
				$bgColor: $baseColor, 
				$angleBar: 0) {

	display: block;
	width: $roundWidth;
	height: $roundWidth;
	background: linear-gradient(
			(90 + $angleBar + $procent*3.6) + deg, 
			#{$spaceColor} 50%, 
			transparent 50%),
		#{$baseColor};
	border-radius: 50%;
	position: relative;

	@if $procent < 50 {

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: -1px;
			left: -1px;
			background: linear-gradient((90 + $angleBar) + deg, $baseColor 50%, transparent 50%);
			border-radius: 50%;
		}

	} @else {

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient((-90 + $angleBar) + deg, $spaceColor 50%, transparent 50%);
			border-radius: 50%;
		}
	}

	&::before {
		content: '#{$procent} %';
		text-align: center;
		line-height: $roundWidth;
		font-size: 350%;
		font-weight: bold;
		color: darken($baseColor,10);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $bgColor;
		border-radius: 50%;
		transform: scale(.85);
		z-index: 50;
	}
}