// COLORS
$bgColor: #fff;
$blue: #00ccff;
$orange: #ffae00;
$grey: #e3e3e3;
$lightGrey: #fafafa;

$textGrey: #707171;
$textBlack: #333333;

$blueGradient: linear-gradient(515deg, $blue 0%, lighten($blue,8) 30%, darken($blue,10) 70%);

//FONT
$fontSize: 1.6rem;
$fontSize--h1: 3rem;
$fontSize--h2: 2rem;
$fontSize--h3: 1.5rem;
$fontSize--small: 1.3rem;

$lineHeight: 1.475em;

$fontFamily1: 'PT Sans', sans-serif;
$fontFamily2: 'Rubik Mono One', sans-serif;

$textShadow: 1px 1px 2px rgba(0,0,0, .3);
$boxShadow: 2px 2px 2px rgba(0,0,0,.4);


//MEDIA
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;