.workExp {
    @extend %blockStartFlexRow;
    margin-top: 1rem;
    padding-top: 3rem;
}

.asideTitle__rotate--workExp {
    top: -5rem;
    left: -11rem;
}
 
.workExp__block {
    width: 100%;
}

.workExp__title {
    @extend .skillBlockMain__title;
}

.workExp__list {
    @extend .education__list;
}

.workExp__icon {
    @extend .education__icon;

       svg {
        width: 65%;
        height: 65%;
        margin: .6rem 0 0 .65rem;

            @media only screen and (min-width : $screen-sm) {
                margin: .9rem 0 0 1.05rem;
            }   
        }
}

.workExp__item {
    @extend .education__item;
}

.workExp__year {
    @extend .education__school;
}

.workExp__spec {
    @extend .education__spec;
}

.workExp__org {
    @extend .education__acadDegree;
}

.workExp__descr {
    @extend .education__descr;
}