.works {
@extend %blockStartFlexRow;
z-index: 26;
position: relative;
padding-top: 3rem;

@extend %bgBlockColor;
}

.works__block {
    width: 100%;
}

.works__title {
    align-self: flex-start;
    margin-bottom: 2rem;
    padding: 1.5em 0;
    padding-left: 7rem;

    display: block;
    width: 100%;
    position: relative;

    line-height: 1.375;
    
    font-family: $fontFamily1;
    font-size: $fontSize--h2;
    font-weight: bold;
    color: $textBlack;
    overflow: hidden;

    &::before {
		position: absolute;
		content: '';
		height: 102%;
		width: 60px;
		top: 0;
		left: -3rem;

		box-shadow: 2px 7px 0 $blue,
		4px -2px 0 $lightGrey,
		6px -7px 0 $orange;

		transform: skewX(-25deg);
	}

        &::after {
		position: absolute;
		content: '';
		height: 50%;
		width: 7px;
		top: 23%;
		left: 4rem;
        background-color: $blue;

		transform: skewX(-25deg);
	}
}

.works__list {
    width: 100%;
    margin-bottom: 5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.works__item {
    width: 100%;
    margin: 0 -2rem 4rem;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    border-radius: 1rem;
    position: relative;

    &:hover .works__descr{
        display: block;
    }
}

.works__img {
object-fit: cover;
width: 100%;
}

.works__descr {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $bgColor;
    padding: 1.5rem;
    font-family: $fontFamily1;
    font-size: $fontSize - 0.1;
    color: $textBlack;
    text-align: justify;
    padding-bottom: 3rem;
}

.works__tools {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem 1rem .5rem 3rem;
    background-image: linear-gradient( -225deg, rgba(0,0,0,0) 20px, $lightGrey 20px);
    font-family: $fontFamily1;
    font-size: $fontSize--small;
    color: $textBlack;
}

.works__tools {
background-image: none;
color: darken($grey, 15);
padding: 0;
bottom: 1rem;
left: 1.5rem;
}

@media only screen and (min-width : $screen-sm) {
    .works__list {
        justify-content: space-around;
    }
    .works__item {
        width: 32rem;
        margin: 0 .5rem 3rem;
    }
}

@media only screen and (min-width : $screen-md) {

    .works__item {
        width: 48%;
    }
}

@media only screen and (min-width : $screen-lg) {
    .works__item {
        width: 42%;
        margin: 0 1.5rem 3rem;
    }
}

@media only screen and (min-width : $screen-xl) {
    .works__item {
        width: 31%;
        margin: 0 1rem 3rem;
    }
}